<div class="row">
  <div class="span6 offset3 padding-medium shadow-box">
    <h1>Log In</h1>

    <%= form_tag sessions_path, class: 'form-horizontal leftshift-medium' do %>
      <div class="control-group">
        <%= label_tag :email, nil, class: 'control-label' %>
        <div class='controls'>
          <%= text_field_tag :email, params[:email] %>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :password, nil, class: 'control-label'  %>
        <div class='controls'>
          <%= password_field_tag :password %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= submit_tag "Log In", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>